# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Sensitive variable files
terraform.tfvars

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json